.homepage {
  background-image: url(../../../images/book.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
}

.html,
body {
  height: 100%;
}
.jumbotron {
  height: 100vh;
}

.backbutton {
  margin-top: 1em;
  margin-left: 1em;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.createbutton {
  margin-left: 23em !important;
}

.navbar {
  width: 100%;
  list-style-type: none;
  text-align: center;
}

.navbar li {
  position: relative;
  display: inline-block;
  padding: 20px;
}

.title {
  padding-left: 0em;
}

.searchpage {
  text-align: center;
}

.searchpage-title {
  padding-top: 3em;
  padding-bottom: 1em;
}

.custom-select {
  width: 200px;
  position: relative;
}
